.jumbotron
  %h1 Super awesome marketing speak!
  %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  %a.btn.btn-large.btn-success{:href => "#"} Sign up today

.container.marketing
  / Three columns of text below the carousel
  .row
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}
        %h2 Heading
        %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        %p
          %a.btn{:href => "#"} View details &raquo;
    / /.span4
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}
        %h2 Heading
        %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p
          %a.btn{:href => "#"} View details &raquo;
    / /.span4
    .span4
      %img.img-circle{"data-src" => "holder.js/140x140"}
        %h2 Heading
        %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p
          %a.btn{:href => "#"} View details &raquo;
    / /.span4
  / /.row

%hr.soften
  %h1 Congregaciones soportadas
  %p.marketing-byline
    Iglesias con el soporte de CLM-Net,
    %a{:href => "http://builtwithbootstrap.tumblr.com/", :target => "_blank"} visit the unofficial Tumblr
    or
    = succeed "." do
      %a{:href => "./getting-started.html#examples"} browse the examples
  .row-fluid
    %ul.thumbnails.example-sites
      %li.span3
        %a.thumbnail{:href => "http://soundready.fm/", :target => "_blank"}
          %img{:alt => "SoundReady.fm", :src => "/assets/example-sites/soundready.png"}
      %li.span3
        %a.thumbnail{:href => "http://kippt.com/", :target => "_blank"}
          %img{:alt => "Kippt", :src => "/assets/example-sites/kippt.png"}
      %li.span3
        %a.thumbnail{:href => "http://www.gathercontent.com/", :target => "_blank"}
          %img{:alt => "Gather Content", :src => "/assets/example-sites/gathercontent.png"}
